<h1>Recept hozzáadás</h1>
<div class="col-xs-4">
<p> Név: {{input class="form-control" value=ujReceptNev}}</p>
<div class="form-group">
  <label for="nehezseg">Nehézségi szint:</label>
  <select class="form-control" name="nehezseg">
    <option>Uncsi</option>
    <option>Könnyű</option>
    <option>Közepes</option>
    <option>Nehéz</option>
    <option>Égni fog a konyhád</option>
  </select>
</div>
</div>
<div style="clear:both;"></div>
<div>
<button class="btn btn-success"
	{{action "addNew"}}>
Létrehoz
</button>
{{#link-to "listaz"}}
<button class="btn btn-warning">
Mégsem
</button>
{{/link-to}}
</div>
{{outlet}}
